
<div class="text-center">
    <ul>
        @{
		var eror="";
		eror=ViewBag.error;
        <div class="kotak_login">
		<h2>Silahkan login</h2> <br>
		<form>
			<label>Username</label>
			<input type="text" name="username" value="" class="form_login" placeholder="Username atau email" id="username1">
 
			<label>Password</label>
			<input type="password" name="password" value="" class="form_login" placeholder="Password" id="password1">
            
            <label>Email</label>
			<input type="text" name="email" value="" class="form_login" placeholder="Email" id="email1">
 
			<button type="submit" class="tombol_login" value="REGISTER" onclick="javascript:RegisterButton(this)">Register</button>
			<br>
		</form>
		<h6>@eror</h6>

	    </div>
        }
    </ul>
</div>

<script type="text/javascript">
function RegisterButton(btn)
{
    var uname = document.getElementById("username1").value;
	var pass = document.getElementById("password1").value;
    var email = document.getElementById("email1").value;
	location.href='/Home/RegisUser?username='+uname+'&password='+pass+'&email='+email;
}
</script>